# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)


Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
numero = 8

print(numero)

8

In [3]:
display(numero)

8

In [4]:
a=2
b=4
c=a+b

print(c)


numero

6

8

In [5]:
type(numero)

int

In [6]:
type(0)

int

In [7]:
type(1735708708758298625)

int

In [8]:
type(-90)

int

## Números reales (float)

In [9]:
temperatura = 37.2
temperatura

37.2

In [10]:
temperatura = 37.2
print(temperatura)

37.2

In [11]:
type(temperatura)

float

In [12]:
type(.2)

float

In [13]:
.2

0.2

In [14]:
type(20.)

float

In [15]:
20.

20.0

In [16]:
type(numero)
numero
float(numero)
numero = float(numero)
numero

8.0

In [17]:
numero

8.0

## Números complejos (complex)

In [18]:
1j

1j

In [19]:
3+1j

(3+1j)

In [20]:
type(3+1j)

complex

## Operaciones básicas

In [21]:
3+4 # suma

'''
dpk2n3fpn34pnn43


ewfojb3ogbj34o


wekfn23nign43gh43uohi


'''

'\ndpk2n3fpn34pnn43\n\n\newfojb3ogbj34o\n\n\nwekfn23nign43gh43uohi\n\n\n'

In [22]:
3-4 # resta

-1

In [23]:
3-2.1

0.8999999999999999

In [24]:
suma = 3+4.556
suma

7.556

In [25]:
3*4

12

In [26]:
mult=3*4
mult

12

In [27]:
3/4

0.75

In [28]:
3/0

ZeroDivisionError: division by zero

In [ ]:
3/4

0.75

In [ ]:
8/3

2.6666666666666665

In [ ]:
int(8/3)

2

In [ ]:
8//3

2

In [ ]:
8/3

2.6666666666666665

In [ ]:
8%3 #modulo

2

In [ ]:
#potencia


2**2

4

In [ ]:
# se cumple jerarquía de operaciones

2+3*2

8

In [ ]:
(2+3)*2

10

In [ ]:
# conversiones 


fl = 3.2
fl

int(fl)

3

In [ ]:
ent=9
ent
float(ent)

9.0

In [ ]:
abs(-4) #valor absoluto

4

In [ ]:
round(5.23435664)

5

In [ ]:
round(5.927187580)

6

In [ ]:
round(5.927187580, 0)

6.0

In [ ]:
type(round(5.92718758, 0))

float

In [ ]:
int(1+1j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
import math

In [ ]:
math.floor(5.982494727) #redondeo hacia abajo

5

In [ ]:
math.ceil(5.982494727) # redondeo hacia arriba

6

In [ ]:
math.sqrt(2) # raíz cuadrada

1.4142135623730951

In [ ]:
math.log10(100) # logaritmos

2.0

## Booleanos

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
bool(0.1308758138638616862)

True

In [ ]:
True == False

False

In [ ]:
0.5 == .5

True

In [ ]:
50 < 100

True

In [ ]:
50 >= 100

False

In [ ]:
not True

False

In [ ]:
5 != 5 # desigualdad

False

In [ ]:
bool('hola soy una palabra')

True

In [ ]:
bool('')

False

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [ ]:
not (False and True)

True

In [ ]:
(not False) or (not True)

True

## Valores nulos (None)

In [ ]:
None # el nulo es un tipo de dato

In [ ]:
type(None)

NoneType

In [ ]:
def esto_es_una_suma(a,b):
    c = a+b
    return c

In [ ]:
resultado = esto_es_una_suma(5,4)
resultado
type(resultado)
resultado

9

## Cadenas de caracteres (string)

In [ ]:
nombre = 'deivi'

nombre

'deivi'

In [ ]:
esto_es_una_str_de_un_numero = '9'
esto_es_una_str_de_un_numero

'9'

In [ ]:
nombre = "aldred"
nombre

'aldred'

In [ ]:
"juan's"

"juan's"

In [ ]:
type(nombre)

str

In [ ]:
'701874801787.3087585'

'701874801787.3087585'

In [ ]:
nuevo_bool = 'True'
nuevo_bool

'True'

In [ ]:
type(nuevo_bool)

str

In [ ]:
type(True)

bool

In [ ]:
type('True')

str

In [ ]:
parrafo = '''
    aaaaaaaaaaaaaaaaaaaaaaaa
'''

parrafo

'\n    aaaaaaaaaaaaaaaaaaaaaaaa\n'

In [ ]:
ruta = 'c:/usuario/carpeta/fichero'

In [ ]:
print('hola estoy aprendiendo lo q son las strs y me encantan  gracias juanitoooooo')

hola estoy aprendiendo lo q son las strs y me encantan  gracias juanitoooooo

In [ ]:
print('hola estoy aprendiendo lo q son las strs y me encantan \n gracias juanitoooooo')#salto de línea

hola estoy aprendiendo lo q son las strs y me encantan
 gracias juanitoooooo

In [ ]:
print('hola estoy aprendiendo lo q son las strs y me encantan \t gracias juanitoooooo') #tabulación

hola estoy aprendiendo lo q son las strs y me encantan 	 gracias juanitoooooo

In [ ]:
#operaciones con strings


'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
'hola ' + '2'

'hola 2'

In [ ]:
'hola' + 'quetal'

'holaquetal'

In [ ]:
'hola' * 4

'holaholaholahola'

In [ ]:
'hola' * 3.14151692

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
'hola' - 'h'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
'hola' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
a = 2

a = a + 3

a

5

In [ ]:
a = 2

a += 3

a

5

In [ ]:
a = 2

a *=2

a

4

In [ ]:
a=2

a -= 8

a

-6

In [ ]:
a=2

a /= 2

a

1.0

In [ ]:
dia = 29

'Hola muy buenas hoy estamos a dia {}'.format(dia)

'Hola muy buenas hoy estamos a dia 29'

In [ ]:
'hoy es dia {} me encantan los años bisiestos'.format(dia)

'hoy es dia 29 me encantan los años bisiestos'

In [ ]:
hora = 17

'hoy es dia {} y la hora es {}'.format(dia,hora)

'hoy es dia 29 y la hora es 17'

In [ ]:

f'hoy es dia {hora} y la hora es {dia}'

'hoy es dia 17 y la hora es 29'

In [ ]:
f'hola hoy es dia {round(29.10870837508130863806)}'

'hola hoy es dia 29'

In [ ]:
f'hola hoy es dia {28+1}'

'hola hoy es dia 29'

In [ ]:
import calendar

In [ ]:
precio = 88.31639756973

In [ ]:
'hoy me han cobrado ' + str(round(precio, 2)) + ' pavazos'

'hoy me han cobrado 88.32 pavazos'

In [ ]:
'juan'.upper()

'JUAN'

In [ ]:
'VANESA'.lower()

'vanesa'

In [ ]:
'karla'.capitalize()

'Karla'

In [ ]:
'hola esto es una frase con muchas palabritas'.title()

'Hola Esto Es Una Frase Con Muchas Palabritas'

In [ ]:
frasecita = 'hola llevamos 2 horacas de clase'
frasecita

'hola llevamos 2 horacas de clase'

In [ ]:
frasecita[0]

'h'

In [ ]:
len(frasecita)

32

In [ ]:
type(frasecita[4])

str

In [ ]:
frasecita[4] = '_'

TypeError: 'str' object does not support item assignment

In [ ]:
frasecita

'hola llevamos 2 horacas de clase'

In [ ]:
frasecita.replace('h', 'H') #lo que hay, lo que quiero

'Hola llevamos 2 Horacas de clase'

In [ ]:
frasecita.replace(' ', '_')

'hola_llevamos_2_horacas_de_clase'

In [ ]:
frasecita.replace('_', ' ')

'hola llevamos 2 horacas de clase'

In [ ]:
frasecita.replace(' ', '_', 6)

'hola_llevamos_2_horacas_de_clase'

In [ ]:
frasecita.replace('_', ' ', -1) # no me funciona :(

'hola llevamos 2 horacas de clase'

In [ ]:
frasecita

frasecita[0:5] # [start, stop] inclusive, no inclusive

'hola '

In [ ]:
frasecita[0:len(frasecita):2] #[start, stop, step]

'hl lvms2hrcsd ls'

## Listas

In [ ]:
lista = []

lst = [1, 2, 3, 4, 5]

lst2 = ['karla', 'vane', 'ines']


esta_es_mi_primera_lista = [1, 'karla', True]

In [ ]:
type(lst)

list

In [ ]:
len(lst)

3

In [ ]:
min(lst)

1

In [ ]:
max(lst)

5

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
lst2

['karla', 'vane', 'ines']

In [ ]:
2 in lst

True

In [ ]:
34 in lst

False

In [ ]:
'vane' in lst2

True

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
sum(lst)

15

In [ ]:
6 not in lst

True

In [ ]:
6 != lst

True

In [ ]:
6 == lst

False

In [ ]:
type(6) == type(lst)

False

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
sum(lst)

15

In [ ]:
lst2

['karla', 'vane', 'ines']

In [ ]:
'karla' + 'vane'

'karlavane'

In [ ]:
lst + lst2

[1, 2, 3, 4, 5, 'karla', 'vane', 'ines']

In [ ]:
sum(lst2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
int(lst2)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
nueva = str(lst)
nueva

'[1, 2, 3, 4, 5]'

In [ ]:
nueva[1]

'1'

In [ ]:
lst4 = 'hola hoy ya es dia 1 de marzo'.split() #por defecto espacio
lst4

['hola', 'hoy', 'ya', 'es', 'dia', '1', 'de', 'marzo']

In [ ]:
lst4[1]

'hoy'

In [ ]:
lst5 = 'hola hoy ya es dia 1 de marzo'.split(' ')
lst5

['hola', 'hoy', 'ya', 'es', 'dia', '1', 'de', 'marzo']

In [ ]:
lst6 = 'hola ,,,,hoy ,ya es dia ,1 de marzo'.split(',')
lst6

['hola ', '', '', '', 'hoy ', 'ya es dia ', '1 de marzo']

In [ ]:
lst7 = 'hola esta es una frase que quiero partir por la mitad'.split(' ')
lst7

['hola',
 'esta',
 'es',
 'una',
 'frase',
 'que',
 'quiero',
 'partir',
 'por',
 'la',
 'mitad']

In [ ]:
'%'.join(lst7)

'hola%esta%es%una%frase%que%quiero%partir%por%la%mitad'

In [ ]:
''.join(lst7)

'holaestaesunafrasequequieropartirporlamitad'

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
lst[0] #slicing

1

In [ ]:
lst[-1]

5

In [ ]:
lst[-2]

4

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
lst[1:4]

[2, 3, 4]

In [ ]:
lst[1:5:2]

[2, 4]

In [ ]:
lst[0:5]

[1, 2, 3, 4, 5]

In [ ]:
lst[::-1]

[5, 4, 3, 2, 1]

In [ ]:
lst[::2]

[1, 3, 5]

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
lst = [3, 4, 1, 5, 2]
lst

[3, 4, 1, 5, 2]

In [ ]:
sorted(lst, reverse=False) #por defecto es este, de menor a mayor

[1, 2, 3, 4, 5]

In [ ]:
sorted(lst)

[1, 2, 3, 4, 5]

In [ ]:
sorted(lst, reverse=True) #de mayor a menor

[5, 4, 3, 2, 1]

**tipos de bucles**

In [ ]:
lst = sorted(lst, reverse=False)
lst

[1, 2, 3, 4, 5]

In [ ]:
# bucle for
# para cuando conozco cuantas iteraciones quiero hacer

for i in lst:
    print(i)

1
2
3
4
5

In [ ]:
for elemento in lst:
    print(elemento)

1
2
3
4
5

In [ ]:
for tunombre in lst:
    print(tunombre)

1
2
3
4
5

In [ ]:
range(len(lst))

range(0, 5)

In [ ]:
list(range(len(lst)))

[0, 1, 2, 3, 4]

In [ ]:
esta_es_mi_listita = lst
esta_es_mi_listita

[1, 2, 3, 4, 5]

In [ ]:
for i in range(len(esta_es_mi_listita)):

    print(i, '-------', esta_es_mi_listita[i])

print('FIN')

0 ------- 1
1 ------- 2
2 ------- 3
3 ------- 4
4 ------- 5
FIN

In [ ]:
for index in range(len(lst)):

    print(index, '-----', lst[index])

print('acabé')

0 ----- 1
1 ----- 2
2 ----- 3
3 ----- 4
4 ----- 5
acabé

In [ ]:
for churro in range(len(lst)):

    print(churro, '******', lst[churro])

0 ****** 1
1 ****** 2
2 ****** 3
3 ****** 4
4 ****** 5

In [ ]:
for elemento in esta_es_mi_listita:
    print(elemento, '******', esta_es_mi_listita[elemento])

1 ****** 2
2 ****** 3
3 ****** 4
4 ****** 5

IndexError: list index out of range

In [ ]:
esta_es_mi_listita

[1, 2, 3, 4, 5]

In [ ]:
esta_es_mi_listita[0]

1

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
for i in range(4,0,-1):
    print(lst[i])

print('olaaaaa')

5
4
3
2
olaaaaa

In [ ]:
for index, element in enumerate(lst):
    print(index, '_____________', element)

0 _____________ 1
1 _____________ 2
2 _____________ 3
3 _____________ 4
4 _____________ 5

In [ ]:
for i, e in enumerate(lst):
    print(i+e)

1
3
5
7
9

In [30]:
for i in range(5):

    i += 1

    print(i)

1
2
3
4
5

In [ ]:
a, b = (2, 3)

In [ ]:
a

2

In [ ]:
b

3

In [ ]:
l1 = [1,2,3]
l2 = ['a', 'b', 'c']

In [ ]:
vane= list(zip(l1,l2))
vane

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
vane[0]

(1, 'a')

In [ ]:
for numero, letra in zip(l1,l2):
    print(numero, '*******', letra)

1 ******* a
2 ******* b
3 ******* c

In [ ]:
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
l3 = [1, 'karla', True]

In [ ]:
# bucle while
# para cuando no conozco cuantas iteraciones quiero hacer, bucles infinitos

contador = 0

while contador < 10:

    print(f'voy por el numero {contador}')

    contador += 1

print('finito')

voy por el numero 0
voy por el numero 1
voy por el numero 2
voy por el numero 3
voy por el numero 4
voy por el numero 5
voy por el numero 6
voy por el numero 7
voy por el numero 8
voy por el numero 9
finito

In [ ]:
# bucle infinitooo

contador = 0

while True:  

    print('hola', '-----', contador)

    if contador == 10:

        print(contador)

        break

    contador +=1

hola ----- 0
hola ----- 1
hola ----- 2
hola ----- 3
hola ----- 4
hola ----- 5
hola ----- 6
hola ----- 7
hola ----- 8
hola ----- 9
hola ----- 10
10

In [ ]:
bool(1)

True

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
for numero in lst:

    if numero==4:
        continue
    
    print(numero)

1
2
3
5

In [ ]:
for numero in lst:

    if numero == 4:
        pass

    print(numero)

1
2
3
4
5

In [ ]:
def nombre():
    pass

In [ ]:
type(nombre)

function

**condicionales**

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
for i in lst:

    if i == 1:

        print('esto es un uno')

    elif i == 2:

        print('esto es un do')

    elif i == 99273092750703:

        print('tas pasao')

    else:

        print('lo q sea')

esto es un uno
esto es un do
lo q sea
lo q sea
lo q sea

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
for i in lst:

    if i < 4:

        print('holaaaa')

    else:

        pass

holaaaa
holaaaa
holaaaa

In [ ]:
range(len(lst))

range(0, 5)

In [ ]:
for ines in range(len(lst)):

    print('hola')

hola
hola
hola
hola
hola

**list comprehension**

In [ ]:
lst = []

for i in range(10):
    
    lst.append(i)
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst2 = [i for i in range(10)] # aquí con comprensión de listas, bucle en una línea
lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matriz = []

for _ in range(4):

    aux = []

    for elemento in range(4):

        aux.append(elemento)

    matriz.append(aux)

matriz

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [ ]:
aux

[0, 1, 2, 3]

In [ ]:
[elemento for elemento in range(4)]

[0, 1, 2, 3]

In [ ]:
matriz = [[elemento for elemento in range(4)] for _ in range(5)]
matriz

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [ ]:
lst = []

for i in range(20):

    if i%2:

        lst.append(i)

lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
20//9

2

In [ ]:
20%9

2

In [ ]:
[i for i in range(20) if i%2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst.pop(0)

1

In [ ]:
lst

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst.append(1)

In [ ]:
lst

[3, 5, 7, 9, 11, 13, 15, 17, 19, 1]

In [ ]:
lst2 = [1, 1, 2, 3]
lst2

[1, 1, 2, 3]

In [ ]:
lst2.remove(1)

In [ ]:
lst2

[2, 3]

In [ ]:
lst

[3, 5, 7, 9, 11, 13, 15, 17, 19, 1]

In [ ]:
lst.sort()
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst3 = [1,0,1,1,1,1,0,0,0,2,2,2,21,1,1,0,0]

for i in lst3:

    if i == 0:

        lst3.remove(i)

    else:

        pass

lst3

[1, 1, 1, 1, 1, 2, 2, 2, 21, 1, 1, 0, 0]

In [ ]:
solucion = []

for i in lst3:

    if i == 0:

        pass

    else:

        solucion.append(i)


solucion

[1, 1, 1, 1, 1, 2, 2, 2, 21, 1, 1]

In [ ]:
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst.insert(1, 200)

In [ ]:
lst

[1, 200, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
4e2

400.0

In [ ]:
4e-2

0.04

## Tuplas

Inmutables

In [ ]:
tupla = ()

In [ ]:
type(tupla)

tuple

In [ ]:
tupla = ('a', 'b', 'c')

In [ ]:
for elemento in tupla:

    print(elemento)

a
b
c

In [ ]:
tupla.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tupla.remove('a')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
tupla.pop(0)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
lst

[1, 200, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
lst_nueva = tuple(lst)
lst_nueva

(1, 200, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [ ]:
lst_nueva

(1, 200, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [ ]:
lst_nueva[2]

3

## Conjuntos (set)

In [ ]:
lst = [1,1,1,1,1,1,2,2,2,2,2,4,4,4,4,4,4,3,5,6,7,1,1,1,1,1,1,43,58,26,1000,2828]

In [ ]:
s = set(lst)
s

{1, 2, 3, 4, 5, 6, 7, 26, 43, 58, 1000, 2828}

In [ ]:
type(s)

set

In [ ]:
s.add(10)

In [ ]:
s

{1, 2, 3, 4, 5, 6, 7, 10, 26, 43, 58, 1000, 2828}

In [ ]:
set1 = set([1,3,5,7,9,2])
set2 = set([2,4,6,8,10])

In [ ]:
set1.union(set2)
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
set1.intersection(set2)
set1 & set2

{2}

In [ ]:
set1 - set2

{1, 3, 5, 7, 9}

In [ ]:
set1.issubset(set2)

False

## Diccionarios

In [ ]:
dictio = {}

In [ ]:
type(dictio)

dict

In [ ]:
dictio = {'key': 'value', 'hola': 28, 3: 'ola'}

In [ ]:
dictio[0]

KeyError: 0

In [ ]:
dictio['key']

'value'

In [ ]:
dictio['hola']

28

In [ ]:
dictio['nueva clave'] = 34

In [ ]:
dictio

{'key': 'value', 'hola': 28, 3: 'ola', 'nueva clave': 34}

In [ ]:
a = dictio

In [ ]:
a

{'key': 'value', 'hola': 28, 3: 'ola', 'nueva clave': 34}

In [ ]:
a['key']

'value'

In [ ]:
dictio.pop('key')

'value'

In [ ]:
dictio

{'hola': 28, 3: 'ola', 'nueva clave': 34}

In [ ]:
dictio.keys()

dict_keys(['hola', 3, 'nueva clave'])

In [ ]:
dictio.values()

dict_values([28, 'ola', 34])

In [ ]:
dictio.items()

dict_items([('hola', 28), (3, 'ola'), ('nueva clave', 34)])

In [ ]:
for k in dictio.keys():

    print(k)

hola
3
nueva clave

In [ ]:
for v in dictio.values():

    print(v)

28
ola
34

In [ ]:
for k,ines in dictio.items():

    print(k, '------', ines)

hola ------ 28
3 ------ ola
nueva clave ------ 34

In [ ]:
a = dictio.get('hola')
a

28

In [ ]:
dictio['hola']

28

In [ ]:
lst1 = [1, 2, 3]
lst2 = [['holaaaaa esto esuna lista muy larga', 1,2,2,2,2, True], 'b', 'c']

In [ ]:
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
dict(zip(lst1,lst2))

{1: ['holaaaaa esto esuna lista muy larga', 1, 2, 2, 2, 2, True],
 2: 'b',
 3: 'c'}

In [ ]:
'''
int
float
complex
bool
str

'''

In [34]:
string = 'hola estoy en claseeeee'

string[0:4]


lista = [0,1,1,1,1,1]


lista[0:4]

[0, 1, 1, 1]

In [36]:
for s in string:

    print(s)

h
o
l
a

e
s
t
o
y

e
n

c
l
a
s
e
e
e
e
e

In [35]:
string.replace(' ', '')

'holaestoyenclaseeeee'

In [37]:
string.upper()

'HOLA ESTOY EN CLASEEEEE'

In [38]:
string.lower()

'hola estoy en claseeeee'

In [53]:
lista = []

tupla = ()

lista2 = [0,0,0,0,3,3,3,3,1,1,1,11,4,4,4,4,4,5,55555,6666,7777,88889,]


set1 = set(lista2)

set1


dictio = {'nombre': ['alfredo', 'karla', 'david'], 'apellido': []}

In [46]:
dictio.items()

dict_items([('clave', 'valor')])

In [54]:
dictio[0]

[1, True, 1, 1, 1, 'holaaaa', 1, 1, 1, 1]

In [55]:
lista2

[0,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 11,
 4,
 4,
 4,
 4,
 4,
 5,
 55555,
 6666,
 7777,
 88889]

In [68]:
for i in lista2:

    print(lista2[i])

0
0
0
0
0
0
0
0
0
0
0
11
3
3
3
3
3
3

IndexError: list index out of range

In [ ]:
lista = [0,1,2,3,4]

for cada_elemento in lista:

    

    pass

In [60]:
len(lista2)

22

In [58]:
range(5)

range(0, 5)

In [ ]:
while 1:
    print('hola')

In [70]:
bool(1)

True

In [ ]:
if a <= 1:

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [ ]:
a = [1, 2]
b = [1, 2]

In [ ]:
a == b

True

In [ ]:
a is b

False

In [ ]:
id(a)

4427127296

In [ ]:
id(b)

4564140608

In [ ]:
a=b

In [ ]:
a is b

True

In [ ]:
id(a)

4564140608

In [ ]:
id(b)

4564140608

In [ ]:
a.append(8)

a

[1, 2, 8]

In [ ]:
b

[1, 2, 8]

In [ ]:
a=b[:]    # copiar la lista

a.append(8)

a

[1, 2, 8, 8]

In [ ]:
b

[1, 2, 8]

In [ ]:
id(a)

4564061056

In [ ]:
id(b)

4564140608

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación